.offcanvas_btn_box,
.offcanvas_btn_box_active,
.modal_toggle_btn {
    transition: transform .3s ease-in-out;
    padding: 5px 10px;
    right: -0.1rem;
    border-radius: 20px 0px 0px 20px;
    background: rgba(33, 150, 243, 0.97);
    text-decoration: none;
    border: none;
    writing-mode: vertical-lr;
    position: fixed;
    z-index: 1100;
}

.modal_toggle_btn_active {
    margin-top: -1.4rem;
    position: absolute;
    padding: 5px 10px;
    border-radius: 12px 12px 0 0;
    background: rgba(33, 150, 243, 0.97);
    text-decoration: none;
    border: none;
    z-index: 1100;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 27.5%;
    transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
    .modal_toggle_btn_active{
        left: 32.5%;
    }
}

@media (max-width: 400px) {
    .modal_toggle_btn_active {
        width: 80%;
        left: 50%;
    }
}

.offcanvas_btn_box_active {
    transform: translateX(-700px);
}


.avatar_icon {
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 40px;
}

/* .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

.fb_post_generated_modal {
    position: fixed; 
    top: 50%;        
    left: 50%;       
    transform: translate(-50%, -50%);
    background-color: #fff; 
    padding: 20px;
    z-index: 1001;   
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */

.fb_post_generated_modal {
    border-radius: 15px;
    background: rgba(243, 243, 243, 0.90);
}

.facebook_post_container,
.prompt_result_area {
    border-radius: 20px;
    background-color: #3C3C3C;
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
    padding: 0.75rem;
}

.facebook_post_container {
    margin-top: 5.5%;
}


.generate_count_layout {
    padding: 0.5rem;
    border-radius: 20px;
    background: #3C3C3C;
    color: white
}

.page_prompt_generate_btn {
    background-color: #00FFAB;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 28px;
    transition: all 0.2s;
}

.page_prompt_generate_btn:hover {
    transform: scale(1.05);
}

.page_prompt_loading_generate_btn {
    background-color: #00FFAB;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 28px;
    opacity: 0.5;
    transition: all 0.2s;
    transform: scale(1.05);

}

.page_prompt_loading_generate_btn:active {
    transform: scale(1);

}