.page_container {
    background-color: #212529;
    padding-bottom: 2rem;
}

@media (min-width: 1000px) {
    .page_container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}






.btn {
    width: 80%;
    font-size: 16px;
    background-color: #0F8FF2;
    text-align: center;
    transition: 0.15s ease;
    height: 40px;
    border-radius: 10px;
    border: none;

}

.btn:hover {
    width: 80%;
    font-size: 16px;
    color: #fff;
    background-color: #0d61a1;
}

.btn_google {
    width: 80%;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #000;
    transition: 0.15s ease;
    border-radius: 10px;
    height: 40px;

}

.btn_google:hover {
    width: 80%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #dd4b39;
}


.no_remaining_message_close_button{
    background-color: #c7c7c7;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 28px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: black;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}


.no_remaining_message_close_button:hover {
    transform: scale(1.05);
}

.no_remaining_message_subscription_button{
    background-color: #00FFAB;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 28px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: black;
    font-size: 17px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.no_remaining_message_subscription_button:hover {
    transform: scale(1.02);
}
