.custom_border {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 15px;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 10px solid transparent;
  transition: transform 0.3s;
  position: relative;
  z-index: 1;
}

.custom_border h1 {
  font-weight: bolder;
}
.custom_border h5 {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
  letter-spacing: 4px;
}

.custom_border::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid transparent;
  border-radius: 15px;
  transition: border-width 0.3s;
}

.custom_border:hover::before {
  border-width: 5px;
}

.freeBorder:hover::before {
  border-color: #00ffab;
}

.bronzeBorder:hover::before {
  border-color: #c06b16;
}
.silverBorder:hover::before {
  border-color: #676767;
}
.goldBorder:hover::before {
  border-color: #ffca43;
}


.recommended_plan_border {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 15px;
  margin: 20px;
  padding: 1rem;
  padding-top: 12px;
  border: 10px solid transparent;
  padding-bottom: 10px;
  border: 0.4rem solid red;
  transition: transform 0.3s;
  position: relative;
  z-index: 1;
}
.recommended_plan_border h1{
  font-weight: bolder;
}
.recommended_plan_border h5{
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
  letter-spacing: 4px;
}

.recommended_plan_border::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 10px solid transparent;
  border-radius: 15px;
  transition: border-width 0.3s;
}

.recommended_plan_border:hover::before {
  border-width: 5px;
  border-color: #ff0000;
}


.circle_background {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
}

.btn {
  border-radius: 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  width: 100px;
  line-height: 20px;
  z-index: 1;
}

.btn:hover,
.btn:active,
.btn.active {
  color: white !important;
}

.free:hover,
.free:active,
.free.active {
    background: linear-gradient(0deg, #00bf7f 0%, #016a5e 100%) !important;
}
.bronze:hover,
.bronze:active,
.bronze.active {
    background:linear-gradient(180deg, #7f3f00 -18.83%, #8d5933 100%)!important;
}

.silver:hover,
.silver:active,
.silver.active {
    background: linear-gradient(0deg, #626262 0%, #353535 100%) !important;
}

.gold:hover,
.gold:active,
.gold.active {
    background: linear-gradient(0deg, rgb(213, 181, 1) 0%, #b77700 100%) !important;
}

