.navbar_body {
    background: black;
    /* opacity: 0.5; */
}

.offcanvas_toggler {
    border: none;
    background-color: transparent;
}

.offcanvas_menu {
    transform: rotate(90deg);
    color: #00FFAB;
    font-size: 30px;
    transition: 0.3s filter;
}

.offcanvas_menu:hover {
    filter: drop-shadow(0 0 3px #00FFAB);
    /* box-shadow: 0 0 10px rgba(211, 203, 203, 0.5); */
}

.navbar_header {
    color: #00FFAB;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
}

.navbar_container {
    width: 75%;
    /* opacity: 40%; */
    /* pointer-events: none; */
}

.container {
    display: flex;
    justify-content: center;
    padding-right: 75px;
}

@media (max-width: 1000px) {
    .container {
        padding-right: 0;
    }
}


.navbar_help_button {
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.navbar_language {
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.language_dropdown {
    transition: 0.3s;
}

.language_dropdown:hover {
    background-color: #8c8c8c;
}

.flag_size {
    width: 31.5px;
    height: 31.5px;
}

.language_dropdown .language_list {
    transition: 0.3s;
}

.language_dropdown .language_list:hover {
    background-color: #8c8c8c;
}


.navbar_help_button:hover {
    color: #00FFAB;
    background-color: transparent;
}

.login_container {
    background: black;
    border-radius: 20px;
}

.navbar_login_button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 100px;
    width: 120px;
    height: 30px;
    border: 1px solid #00FFAB;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
}

.facebook_login_button {
    width: 50vw;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #149FF9;
    color: #000000;
    border-radius: 10px;
    border: none;
    /* width: 200px; */
    /* border: 1px solid #00FFAB; */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
}

.gmail_login_button {
    width: 50vw;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    border: none;
    /* border: 1px solid #00FFAB; */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
}

.social_media_icon {
    height: 30px;
    width: 30px;
}

.coin_mobile_container {
    justify-self: start;
}

.add_coin_button {
    background: #FFB800;
    justify-self: end;
    border-radius: 25px;
    padding: 0.5rem;
    color: #000000;
    text-decoration: none;
}

.coin {
    margin-right: 0.15rem;
    margin-left: 0.5rem;
    margin-top: -0.15rem;
    color: #FFB800;
}

.add_coin {
    color: white;
    margin-bottom: 0.2rem;
    transition: 0.3s ease;
}

.add_coin:hover {
    color: #00FFAB;

}

.navbar_logout_button {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    border-radius: 100px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 1px solid #00FFAB;
    /* opacity: 0.4; */
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
}

@media (max-width: 991px) {
    .navbar_header {
        padding-left: 0px;
    }

    .profile {
        padding: 0;
        background-color: #00FFAB;
        color: #000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .profileUnlog {
        padding: 0;
        padding-top: 50px;
        background-color: #6C7D85;
        color: #000;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .navbar_login_button {
        background-color: #DBFFF3;
        color: #000000;
        width: 50%;
        height: 100%;
        border-radius: 100px;
        border: 1px solid #DBFFF3;
        padding: 5px;
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
    }

    .navbar_logout_button {
        text-align: center;
        width: 90%;
        height: 100%;
        background-color: #DBFFF3;
        color: #000000;
        border-radius: 10px;
        border: 1px solid #DBFFF3;
        transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
    }

    .navbar_help_button {
        color: #FFFFFF;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in;
        margin-left: 20px;
    }

    .navbar_language {
        color: #FFFFFF;
        border: none;
        text-decoration: none;
        background-color: transparent;
        /* transition: all 0.3s ease-in; */
        margin-left: 20px;
    }

    .navbar_language {
        color: #FFFFFF;
        border: none;
        text-decoration: none;
        align-self: center;
        background-color: transparent;
        transition: all 0.3s ease-in;
    }

    .navcollapse::-webkit-scrollbar {
        width: 8px;
    }

    .navcollapse::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .navcollapse::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .navcollapse::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .navcollapse {
        max-height: 400px;
        overflow-y: scroll;
        height: calc(100vh - 10px);
    }
}

.navbar_login_button:hover {
    background-color: #00FFAB;
    color: #000000;
    transform: scale(1.07);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.navbar_logout_button:hover {
    background-color: #00FFAB;
    border: none;
    color: #000000;
    transform: scale(1.02);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.dropdown:hover {
    color: white;
}

.remove_underline {
    text-decoration: none;
    color: #FFFFFF;
}

.remove_underline:hover {
    text-decoration: none;
    color: #41ffa3;
}

.language_dropdown_test {
    position: fixed;
}

.user_profile_pic,
.user_profile_pic_desktop {
    border-radius: 50%;
}

.user_profile_pic_desktop {

    width: 40px;
}

.user_profile_pic {
    width: 70px;

}

.login_dropdown_menu {
    width: 220px;
    margin-left: -2rem;
}

.subscription_manage_btn {
    border-radius: 204px;
    border: 1.5px solid #FFF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: white;
    background: none;
    transition: 0.3s ease;
}

.subscription_manage_btn:hover {
    background: white;
    color: black;
    border: 1.5px solid #000000;
}
.login_dropdown_history_menu {
    color: #ffffff;
    /* opacity: 0.4; */

    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s;
}

.login_dropdown_history_menu:hover {
    color: #00FFAB;


}

.btn {
    width: 80%;
    font-size: 16px;
    background-color: #0F8FF2;
    text-align: center;
    transition: 0.15s ease;
    height: 40px;
    border-radius: 10px;
    border: none;

}

.btn:hover {
    width: 80%;
    font-size: 16px;
    color: #fff;
    background-color: #0d61a1;
}

.btn_google {
    width: 80%;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #000;
    transition: 0.15s ease;
    border-radius: 10px;
    height: 40px;

}

.btn_google:hover {
    width: 80%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #dd4b39;
}