
.gray {
    background-color: #33393F;
}


.rounded {
    border-radius: 30px;
}

.rounded:hover {
    border-radius: 30px;
    transform: scale(1.003);
}

.page_payment_area {
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 15px;
    background-color: #33393F;
}




.recommended_plan_border {
    background-color: #f2f2f2;
    color: #000000;
    border-radius: 15px;
    margin: 20px;
    padding: 1rem;
    padding-top: 12px;
    border: 10px solid transparent;
    padding-bottom: 10px;
    border: 0.4rem solid red;
    transition: transform 0.3s;
    position: relative;
    z-index: 1;
}
.recommended_plan_border h1{
    font-weight: bolder;
}
.recommended_plan_border h5{
    background-color: #f2f2f2;
    color: #000000;
    font-size: 16px;
    letter-spacing: 4px;
}

.recommended_plan_border::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 10px solid transparent;
    border-radius: 15px;
    transition: border-width 0.3s;
}

.recommended_plan_border:hover::before {
    border-width: 5px;
    border-color: #676767;
}





