.footer {
    background-color: #212529;
}

.footer_divider{
    background-color: white;
    margin: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 2rem;
    height: 2.5px;
}

.footer_lower_divider{
    background-color: white;
    margin: 0;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 0.75rem;
    height: 2.5px;
}

.footer_container{
    width: 100%;
}
.footer_header {
    color: #00FFAB;
    font-weight: bold;
    font-size: 1.5rem;
}

.footer_header_div {
    background-color: #00FFAB;
    margin: 0;
    margin-bottom: 1rem;
    height: 2.5px;
}

.footer_vertical_div{
    background-color: white;
    width: 25px;
    height: 2px;
    transform: rotate(90deg);
    margin-top: 0.6rem;
}

.footer_link{
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition:  0.3s;

}

.footer_link:hover{
    color: #00FFAB;
}

.footer_contact_us_btn {
    background-color: #00FFAB !important;
    color: black !important;
    border: none;
    border-radius: 25px;
    margin: 0.5rem;
    font-weight: bold;
    width: 10rem;
    height: 2.2rem;
    transition: 0.3s;
}

.footer_contact_us_btn:hover {
    transform: scale(1.07);
}

.footer_prompt_service_link {
    color: white;
    padding: 2.5%;
    padding-left: 1.25em;
    transition: all 0.3s;
    text-decoration: none;
    border-radius: 30px;
    margin-bottom: 0.4rem;
}

.footer_prompt_service_link:hover{
    border-radius: 20px;
    color:black;
    background-color: rgb(0, 255, 171, 0.8);
}

.footer_copyright{
    color: white;
    font-size: 14px;
    margin-bottom: 2rem;
}