.container {
    display: flex;
    justify-content: center;
    /* padding-right: 75px; */
    /* padding-left: 75px; */
    padding-top: 100px;
}

.tabbar{
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 1000px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }

}

@media (min-width:1300px) {
    .scroll {
        margin-left: 5rem;
    }
}

@media (max-width: 1300px) {
    /* @media (max-width: 1100px) { */
    .scroll {
        padding: 10px;
        width: calc(100vw - 50px);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .scroll::-webkit-scrollbar {
        display: none;
    }
}

.btn {
    margin-left: 9.5px;
    margin-right: 9.5px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #00FFAB;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.1s;
}

.btn:hover,
.btn:active,
.btn.active {
    margin-left: 10px;
    border-radius: 20px;
    color: white;
    background-color: transparent !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: scale(1.05);
}

