.page_container {
    background-color: #212529;
    padding-bottom: 2rem;
}

@media (min-width: 1000px) {
    .page_container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.delete_row_btn {
    color: white;
    transition: 0.3s;

}

.disable_delete_row_btn {
    color: white;
    opacity: 0.4;
}

.delete_row_btn:hover {
    transform: scale(1.1);

}

.page_prompt_area {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 15px;
    background-color: #33393F;
}

.page_prompt_area_row {
    border-radius: 15px;
    background-color: #212529;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.page_prompt_area_textfield {
    background-color: #3D434A;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    min-height: 60px;
}

.page_prompt_area_combobox {
    background-color: #3D434A;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
}

.page_prompt_area_addrow {
    padding-top: 1rem;
    padding-left: 0;
}

.page_prompt_add_new_row_button {
    background-color: #00FFAB;
    border: none;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 17px;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.3s;
}

.page_prompt_add_new_row_button:hover {
    transform: scale(1.05);
}

.page_prompt_add_new_row_button:active {
    position: relative;
    top: 1px;
}

.page_prompt_generate_btn {
    background-color: #00FFAB;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 28px;
    transition: all 0.2s;
}

.page_prompt_loading_generate_btn {
    background-color: #00FFAB;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 28px;
    opacity: 0.2;
}


.page_prompt_generate_btn:hover {
    transform: scale(1.05);
}

.btn {
    width: 80%;
    font-size: 16px;
    background-color: #0F8FF2;
    text-align: center;
    transition: 0.15s ease;
    height: 40px;
    border-radius: 10px;
    border: none;

}

.btn:hover {
    width: 80%;
    font-size: 16px;
    color: #fff;
    background-color: #0d61a1;
}

.btn_google {
    width: 80%;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #000;
    transition: 0.15s ease;
    border-radius: 10px;
    height: 40px;

}

.btn_google:hover {
    width: 80%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #dd4b39;
}

.generate_count_layout {
    padding: 0.5rem;
    border-radius: 20px;
    background: #212529;
}

.generate_count_tooltip{
    background-color: white !important; /* Set your desired background color */
    color: black; /* Change text color for better visibility */
}

/* Customize the arrow tail */
.generate_count_tooltip::before,
.generate_count_tooltip::after {
  border-bottom-color: #FF5733 !important; /* Set your desired arrow color */
  border-top-color: #FF5733 !important; /* Set your desired arrow color */
}